header {
    height: 4%;
    width: 100%;
    background-color: gray;
}

nav {
    height: 55%;
    width: 100%;
    background-color: lightgray;
}

aside {
    float: right;
    background-color: purple;
    height: 85vh;
    width: 10vw;
}

aside:first-of-type {
    float: left;
    background-color: greenyellow;
    height: 85vh;
    width: 10vw;
}

main {
    height: 96vh;
    width: 100vw;
    background-color: palevioletred;
}

.clear-fix {
    clear: both;
}